



/* footer css */
.footer .box-container{
    display: flex;
    flex-direction: row;
    padding: 2rem 10rem;
    border: 2px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    justify-content: space-around;
    background-color: purple;
    color: white;
}

.footer .box-container .box{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;

}

.footer .box-container .box a{
    text-decoration: none;
    color: white;
}

.footer .credit{
    padding: 1rem;
    text-align: center;
    background-color: purple;
    color: white;
    
}