/* Very light purple background for the entire page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f3e6f7; /* Light purple color */
    color: #333; /* Text color */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Font styling */
   
}

/* Additional styling for header and other components */
header {
    background-color: #6a0dad; /* Purple background */
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* You can add more styles here for header, footer, etc. */
